
.Header{
  background-color: blue;
  color: aliceblue;
  padding: 5px;
  text-shadow: 1px 1px black;
  box-shadow: 10px 10px 10px black;
  border: solid black;
  ;
}
.scoreDiv, .gameDiv{
  border: solid black;
  background-color: blue;
  color: aliceblue;
  padding: 10px;
  text-shadow: 1px 1px black;
  box-shadow: 10px 10px 10px black;
  margin: 5px ;

}
